<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo_list_detail.name }}</title>
</head>
<body>
    <header>
    </header>
    <main>
        <div>
            <h1>{{ todo_list_detail.name }}</h1>
            <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
            <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
            <table>
                <thead>
                    <th>
                        <h2>Task</h2>
                    </th>
                    <th>
                        <h2>Due Date</h2>
                    </th>
                </thead>
                <tbody>
                    {% for todos in todo_list_detail.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_item_update' todo_list_detail.id %}">{{ todos.task }}</a>
                        </td>
                        <td>{{ todos.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>