<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Lists</title>
</head>
<body>
    <header>
    </header>
    <main>
        <div>
            <h1>My Lists</h1>
            <div>
                <a href="{% url 'todo_list_create' %}">Create New List</a>
                <p>
                    <a href="{% url 'todo_item_create' %}">Create New Item</a>
                </p>
            </div>
            <table>
                <thead>
                    <th>
                        <h2>Name</h2>
                    </th>
                    <th>
                        <h2>Number of Items</h2>
                    </th>
                </thead>
                <tbody>
                    {% for todos in todo_list_list %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' todos.id %}">{{ todos.name }}</a>
                        </td>
                        <td>{{ todos.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>